<div class="pk-nav-vertical pk-nav-admin-left">
	<ul>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=info">程序信息</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=websafe">站点安全</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=ips">IP黑名单</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=cache">全局缓存</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=logs">后台日志</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=home&t=chkupdate">系统更新</a>
		</li>
		<li>
			<a target="_blank" href="http://www.hadsky.com">官方论坛</a>
		</li>
	</ul>
</div>