<div class="pk-nav-vertical pk-nav-admin-left">
	<ul>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=base">基本设置</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=div">导航相关</a>
		</li>
		<!--
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=template">模板相关</a>
		</li>
		-->
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=embed">嵌入相关</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=show">帖子显示</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=post">发帖相关</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=reg">注册相关</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=seo">SEO相关</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=integral">积分相关</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=upload">上传相关</a>
		</li>
		<!--
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=set&t=performance">性能相关</a>
		</li>
		-->
	</ul>
</div>