<div class="pk-nav-vertical pk-nav-admin-left">
	<ul>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=user&t=search">搜索用户</a>
		</li>
		<li id="add-user">
			<a href="index.php?c=app&a=superadmin:index&s=user&t=seniormanagement&id=0">添加用户</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=user&t=group">用户组</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=user&t=guest">系统游客</a>
		</li>
		<li>
			<a href="index.php?c=app&a=superadmin:index&s=user&t=safe">账号安全</a>
		</li>
	</ul>
</div>