<div class="pk-padding-15">
	<form name="form_install" method="post" action="index.php?step=3">
		<div class="pk-row pk-text-sm pk-text-bold pk-text-center pk-margin-top-15 pk-margin-bottom-15" style="border-bottom: solid 1px #E0E0E0;">
			<div class="pk-w-sm-12 pk-padding-15">
				HadSky安装环境初检结果
			</div>
		</div>
		<div id="chkr" class="pk-text-primary pk-text-center"></div>

		<div class="pk-row pk-text-sm pk-text-bold pk-text-center pk-margin-top-15 pk-margin-bottom-15" style="border-top: solid 1px #E0E0E0;border-bottom: solid 1px #E0E0E0;">
			<div class="pk-w-sm-12 pk-padding-15">
				MySQL数据库信息填写
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库地址</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_location" value="localhost" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>此项不知请咨询空间商</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库用户</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_username" value="root" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>此项不知请咨询空间商</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库密码</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_password" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>此项不知请咨询空间商</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库名称</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_database" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>此项不知请咨询空间商</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库前缀</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_prefix" value="pk_" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>以_结尾，可保持默认</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">数据库编码</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="mysql_charset" value="set names utf8" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>此项建议保持默认</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-text-bold pk-text-center pk-margin-top-15 pk-margin-bottom-15" style="border-top: solid 1px #E0E0E0;border-bottom: solid 1px #E0E0E0;">
			<div class="pk-w-sm-12 pk-padding-15">
				创始人信息填写
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">用户名</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="adminusername" value="admin" minlength="3" maxlength="15" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>字母、数字和下划线组成</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">密码</label>
			<div class="pk-w-sm-5">
				<input type="text" class="pk-textbox pk-radius-4" name="adminpassword" value="hadsky.com" minlength="5" maxlength="16" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>任意字符，5-16位</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-margin-bottom-5">
			<label class="pk-w-sm-3 pk-text-bold pk-text-right pk-padding-top-5">邮箱</label>
			<div class="pk-w-sm-5">
				<input type="email" class="pk-textbox pk-radius-4" name="adminemail" value="" required>
			</div>
			<div class="pk-w-sm-4 pk-text-sm pk-padding-top-5">
				<span>请填写正确的邮箱</span>
			</div>
		</div>

		<div class="pk-row pk-text-sm pk-text-danger pk-text-center pk-margin-top-15 pk-margin-bottom-15" style="border-top: solid 1px #E0E0E0;border-bottom: solid 1px #E0E0E0;">
			<div class="pk-w-sm-12 pk-padding-15">
				安装程序会删除原有的相同的表，请检查后再安装
			</div>
		</div>

		<div class="pk-row">
			<div id="qzaz" class="pk-w-sm-12 pk-text-center pk-padding-15 pk-text-sm pk-hide">
				<input type="checkbox" onchange="if(this.checked){$('#submitbtn').prop('disabled',false)}else{$('#submitbtn').prop('disabled',true)}" value="1"> 我要强制安装！
			</div>
			<div class="pk-w-sm-12 pk-text-center pk-padding-15">
				<button type="button" id="submitbtn" class="pk-btn pk-btn-primary pk-radius-4"><span></span> <span>确认信息，安装程序</span></button>
			</div>
		</div>
	</form>
</div>
<div id="jsondata" class="pk-hide">{$json}</div>
<script>
	$(function() {
		var $jsondata = eval('([' + $('#jsondata').html() + '])');
		var $chkr = '';
		$chkr += 'PHP版本:' + $jsondata[0]['php_version'];
		if(parseFloat($jsondata[0]['php_version']) > 5.1) {
			$chkr += ' <span class="fa fa-w fa-check pk-text-success"></span>';
		} else {
			$('#qzaz').removeClass('pk-hide');
			$('#submitbtn').html('初检未通过，无法继续安装').prop('disabled', true);
			$chkr += ' <span class="fa fa-w fa-close pk-cursor-pointer pk-text-danger" title="PHP版本最低需5.2，推荐5.3以上版本"></span>';
		}
		$chkr += '&nbsp;&nbsp;读取:' + $jsondata[0]['readfile'];
		if($jsondata[0]['readfile'] == true) {
			$chkr += ' <span class="fa fa-w fa-check pk-text-success"></span>';
		} else {
			$('#qzaz').removeClass('pk-hide');
			$('#submitbtn').html('初检未通过，无法继续安装').prop('disabled', true);
			$chkr += ' <span class="fa fa-w fa-close pk-cursor-pointer pk-text-danger" title="无&quot;yourwwwroot/install/mysqldata/hadsky.sql&quot;文件的读取权限，请检查主机配置"></span>';
		}
		$chkr += '&nbsp;&nbsp;写入:' + $jsondata[0]['writefile'];
		if($jsondata[0]['writefile'] == true) {
			$chkr += ' <span class="fa fa-w fa-check pk-text-success"></span>';
		} else {
			$('#qzaz').removeClass('pk-hide');
			$('#submitbtn').html('初检未通过，无法继续安装').prop('disabled', true);
			$chkr += ' <span class="fa fa-w fa-close pk-text-danger pk-cursor-pointer" title="无&quot;yourwwwroot/puyuetian/mysql/config.php&quot;文件的写入权限，请检查主机配置"></span>';
		}
		$chkr += '&nbsp;&nbsp;新建:' + $jsondata[0]['createfile'];
		if($jsondata[0]['createfile'] == true) {
			$chkr += ' <span class="fa fa-w fa-check pk-text-success"></span>';
		} else {
			$('#qzaz').removeClass('pk-hide');
			$('#submitbtn').html('初检未通过，无法继续安装').prop('disabled', true);
			$chkr += ' <span class="fa fa-w fa-close pk-text-danger pk-cursor-pointer" title="无&quot;yourwwwroot/install&quot;目录下文件的新建权限，请检查主机配置"></span>';
		}
		$('#chkr').html($chkr);
		$('#submitbtn').click(function() {
			var allinput = $('form[name=form_install] input').length;
			for(i = 0; i < allinput; i++) {
				if($('form[name=form_install] input:eq(' + i + ')').val() == '' && $('form[name=form_install] input:eq(' + i + ')').attr('name') != 'mysql_password') {
					pkalert('请填写完整信息！', "js:$('form[name=form_install] input:eq(" + i + ")').focus();");
					return false;
				}
			}
			$('#submitbtn span:eq(0)').addClass('fa fa-spinner fa-spin');
			$('#submitbtn span:eq(1)').html('正在安装请稍后...');
			$(this).attr('disabled', true);
			setTimeout('form_install.submit();', 2000);
		});
	})
</script>