<div class="body">
	<div class="read">
		<h1>用户协议</h1>
		<div id="content">正在通过HadSky官网获取用户协议，请稍后...</div>
	</div>
</div>
<div class="footer">
	<button id="iagree" class="pk-btn pk-radius-4 pk-btn-success" onclick="location.href='index.php?step=2'" title="正在获取协议信息，请稍后..." disabled>我同意</button>
	<button class="pk-btn pk-radius-4 pk-btn-danger" onclick="window.close()">我不同意</button>
</div>
<script>
	$("#content").load("phpscript/agreement.php #user-agreement-content", function(r, s, x) {
		if(s == "error") {
			$("#content").html("协议获取失败，请<a target='_blank' href='http://www.hadsky.com/read-281-1.html'>访问官网</a>自行阅读。");
		}
		$("#iagree").attr({
			"title": "",
			"disabled": false
		});
	});
</script>
<script>
	setTimeout(function() {
		if($("#iagree").prop('disabled')) {
			$("#content").html("协议获取失败，请<a target='_blank' href='http://www.hadsky.com/read-281-1.html'>访问官网</a>自行阅读。");
			$("#iagree").attr({
				"title": "",
				"disabled": false
			});
		}
	}, 5000);
</script>